@media (min-width: 991px) { 
	footer{
		text-align: left;
	}
}
@media (max-width: 757px) { 
	footer{
		text-align: center;
	}
}

.box-shadow{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}